body {
    background-image: linear-gradient(135deg, #b2e0ffce 10%, #b004e5 100%) ;
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    font-family: 'open sans' sans-serif ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boxform {
    background-color: #ffffff;
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex: 1 1 100%;
    box-shadow: 0 0 20px 6px #090b6ff4;
}

.boxform .form {
    background-color: #b004e5;
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
    display: contents;
    justify-content: flex-start;
}

header{
    header {
        display: ;
        justify-content: space-between;
        padding: 4px;
        align-items: center;
    }
}