* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* space between header and footer */
  min-height: 100vh;
}

/* styling the header */
.header-wrapper {
  border-bottom: 1px solid rgb(77, 70, 58);
  background-image: linear-gradient(270deg, #23464d 20%, #b2ffd2d4 70%);
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: end; /* horizontal center */
  align-items: end; /* vertical center */
}

.text {
  font-size: 0.75rem;
  color: rgb(77, 70, 58);
}

/* styling the form */

.main,
.header {
  /* border: solid 1px magenta; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 2rem;
}

.main img {
  width: 80%;
  border-radius: 50px;
}

#form {
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: auto;

  width: 30%;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: solid 1px rgb(77, 70, 58);
}

input:hover {
  outline: none;
  border: solid 1px #23464d;
  box-shadow: 0 0 5px #23464d;
}

.btn {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: solid 0px rgb(77, 70, 58);
  background-color: #8fd9c0;
  color: black;
  width: 40%;
}

.btn:hover {
  background-color: #324438ad;
  color: white;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(77, 70, 58);
}

.form-text {
  margin: 15px;
  font-size: 0.75rem;
  color: rgb(77, 70, 58);
}

.terms-conditions {
  color: #23464d;
}
.terms-conditions:hover {
  text-decoration: underline;
  color: black;
}

span {
  color: white;
  font-weight: bold;
}

span:hover {
  color: #b2ffd2d4;
  text-decoration: underline;
}

.footer-wrapper {
  border-top: 1px solid rgb(77, 70, 58);
  background-image: linear-gradient(270deg, #23464d 20%, #b2ffd2d4 70%);
}

.footer {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
  align-items: end;
  width: 70%;
  margin: auto;
  padding: 2rem;
}
.footer-text {
  margin: 0.25rem;
  font-size: 0.75rem;
}
